@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #4990E2;
  --color-primaryVar: #3A7BC8;
  --color-background: #F6F5F8;
  --color-success: #2CCC70;
  --color-warning: #F39C0F;
  --color-error: #E84C3C;
  --color-surface: #FFFFFF;
  --color-onsurface: #202020;
  
  --default-font-family: 'Poppins', sans-serif;
}